body {
    margin: auto;
    width: 600px;
}

#container {
    background-color: #C4C4C4;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
}

#container > div{
    background-color: red;
    position: fixed;
    position: absolute;
}

.form {
}

.form > * {
    padding-top: 20px ;
}

#frameInfo {
    position: absolute;
    padding: 10px;
    top: 0;
    font-size: 12px;
}

.objectsLen {
    float: left;
}

.renderType {
    float: right;
}

.animationType {
    clear: both;
    display: table;
    padding: 15px 10px 5px;
    margin: 61px auto;
    background-color: gainsboro;
}

#animationProperties > div {
    margin: 10px;
}

#animationProperties > div > label {
    display: inline-block;
    width: 100px;
}

a[href="https://github.com/ilopX/experiment-web-renders-html-svg-canvas2d-webGL"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: black;
    width: 100px;
    height: 40px;
    background-image: url("../GitHub_Logo.png") ;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    font-size: 0;

}
